%html
  %head
    %title Behold!
    %link{:href => "http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"}
  %body
    #menu
      %h3 Charlotte
      %div
        %p Welcome to Charlotte with love.
