%html
  %head
    %title Behold!
    %button.pushme PushMe
  %body
    #menu.hide
      %div
        %p Welcome to Charlotte with love.
        %div
          %input.hide{:name => "mytext[]", :type => "text"}/
%input{:name => "mytext[]", :type => "text"}/